@model AtchooClient.Models.UserProfile


<h4>Add more allergies for @Html.DisplayFor(model => model.Name)</h4>

<div class="card" style="width: 50%; display: flex; flex-direction: column;">

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.UserProfileId)

    @Html.Label("")
    @Html.DropDownList("UserAllergyId")

    <input type="submit" value="Save" class="button" style="margin-left: 3%;">
  }

</div>