@model AtchooClient.Models.UserProfile

<h2>Are you sure you want to delete your account?</h2>

<h4>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h4>
@using (Html.BeginForm())
{
  <input class = "myCssClass" type="submit" value="Delete" />
}
<br>
@Html.ActionLink("Back to your profile", "Index")